.header {
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div a {
    padding-right: 1.25rem;
}